<div class="flex flex-col items-center">
  <div class="self-center">
    <img ngSrc="assets/git_init.webp" alt="git init image" height="200" width="200">
  </div>
  <div class="p-10">
    Crea una cartella nascosta .git nella directory corrente.
    Inizializza un nuovo repository Git, che può essere usato per il versionamento del codice.
    Imposta il repository locale, permettendoti di iniziare a tracciare modifiche e creare commit.
    Se il repository è già inizializzato, il comando non lo sovrascrive, ma semplicemente conferma che il repository
    esiste già.
    <div *ngIf="check(command!, '-q', '--quiet')">
      -q/--quiet = Scrive solo i messaggi di errore o di warning. Il resto dell'output viene soppresso.
    </div>
  </div>

</div>
